:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #686868;
}

body {
    margin: 0;
    justify-content: center;
    min-height: 190vh;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
    font-weight: 300;
    font-family: Verdana, sans-serif;
    font-style: normal;
    direction: ltr;
    text-align: center;
    border: 0px solid black;
    border-radius: 0;
    color: #444444;
}

button {
    border-radius: 10px;
    border: 0px solid transparent;
    padding: .6em 1em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #b8b8b8;
}
button:active{
  background-color: #b8b8b8;

  transition: 0.55s;
}
button:hover {
    border-color: #4d4d4d;
    background-color: #cfcfcf;
    transition: background-color 0.55s;
}

button:focus,
button:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
}